@use "colors" as col
@use "responsive-design" as responsive

#hero-content
  width: 100%
  display: flex
  justify-content: center
  align-items: center

  .wrapper
    padding: 24px
    width: 100%
    max-width: 1080px
    display: grid
    grid-template-columns: 1fr
    grid-template-areas: "headline" "slider" "contact"
    gap: 56px
    @media (min-width: responsive.$lg)
      grid-template-columns: 1fr auto
      grid-template-areas: "headline headline" "slider contact"
      gap: 24px

    .headline
      grid-area: headline
      display: flex
      flex-direction: column
      padding: 104px 0
      gap: 8px
      justify-content: center
      align-items: center
      h1
        color: col.$indigo
        text-align: center
        font-size: 2rem
      p
        color: col.$gray
        text-align: center
        font-size: 1.2rem

    .slider
      grid-area: slider
      .slider-wrapper
        width: 100%
        display: flex
        flex-direction: column
        justify-content: start
        align-items: start
        gap: 12px
        @media (min-width: responsive.$md)
          width: auto

        .slider-images-carousel
          width: 100%
          background-color: col.$border
          aspect-ratio: 16/9
          position: relative
          border-radius: 16px
          overflow: hidden
          @media (min-width: responsive.$lg)
            width: 700px

          .slides
            transition: all ease 1s
            position: absolute
            top: 50%
            left: 0
            transform: translateY(-50%)
            display: flex
            width: 100%

            img
              width: 100%
              height: 100%
              object-fit: cover

          &:hover .slides
            filter: brightness(50%)
          &:hover .controls
            opacity: 1

          .controls
            opacity: 0
            display: flex
            position: absolute
            top: 50%
            left: 0
            justify-content: space-between
            width: 100%
            z-index: 99999
            transition: all ease 0.5s

            .control
              color: col.$white

        .review
          width: 100%
          display: flex
          flex-direction: column
          justify-content: start
          align-items: center
          gap: 16px

          &::after
            content: ""
            border-radius: 999em
            margin: 20px
            width: 20%
            height: 2px
            background-color: col.$border

          .review-message p
            color: col.$gray
            font-style: italic
            padding: 20px

          .reviewer
            display: flex
            justify-content: start
            align-items: center
            gap: 12px

            .img-profile
              width: 50px
              height: 50px
              overflow: hidden
              border-radius: 50%
              img
                width: 100%
                height: 100%
                object-fit: cover

            .profile
              h3
                color: col.$indigo
              p
                color: col.$gray
                font-style: italic

        .offer-information
          width: 100%
          display: flex
          flex-direction: column
          justify-content: start
          align-items: start
          gap: 24px
          h3
            color: col.$neutral
            width: 80%

          .offer-list
            padding: 10px
            display: flex
            width: 100%
            flex-direction: column
            justify-content: start
            align-items: center
            gap: 8px

            .offer
              width: 100%
              display: flex
              gap: 12px
              justify-content: start
              align-items: center
              color: col.$gray

              .icon-wrapper
                width: 42px
                height: 42px
                border-radius: 50%
                overflow: hidden
                border: 1px solid col.$gray
                display: flex
                justify-content: center
                align-items: center
    .contact
      grid-area: contact
      .contact-wrapper
        background-color: col.$border
        padding: 24px
        border-radius: 12px
        width: 100%
        gap: 24px
        display: flex
        flex-direction: column
        justify-content: start
        align-items: start

        header
          display: flex
          flex-direction: column
          gap: 8px

          h3
            color: col.$indigo

          p
            color: col.$gray

        form
          width: 100%
          display: flex
          flex-direction: column
          gap: 24px
          label
            width: 100%
            gap: 8px
            display: flex
            flex-direction: column
            span
              color: col.$gray
            input
              padding: 12px
              border-radius: 8px
              border: 1px col.$border solid

          button
            padding: 12px
            background-color: col.$indigo
            color: col.$white
            border: none
            border-radius: 8px
